/* generali-------------------*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1{
  color: darkgrey;
}
/* generatore ---------------------------------*/
.titolo{
 width: 80%;
 margin: 0 auto;
 text-align: center;
}
.generatore{
  width: 80%;
  margin: 0 auto;
  background-color: dodgerblue;
  padding: 30px 0;
  border-radius: 12px;
}
.riga-1{
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin: 0 auto;
}
.riga-2{
  display: flex;
  justify-content: center;
  margin-top: 25px;
}
#genera{
 margin-right: 5px;
 padding: 5px;
 border-radius: 7px;
 background-color: white;
}
#annulla{
 margin-left: 5px;
 padding: 5px;
 border-radius: 7px;
 background-color: white;
}
/* biglietto generato ------------------------*/
.hide{
  display: none;
}
.show{
  display: block;
}
.biglietto-generato{
  display: flex;
  width: 80%;
  margin: 0 auto;
}

.sez-sx{
  width: 25%;
  background-color: darkgrey;
  
}
.sez-dx{
  background-color: dodgerblue;
  width: 75%;
  padding: 15px 0;
}
table{
  width: 100%;
}
th,td{
  width: calc(100% / 4);
  text-align: center;
}
